<?xml version="1.0" encoding="utf-8"?>
<odoo>    
    <menuitem 
        	id="main_menu_sbl_demo"
        	name="SBL"
            action="action_medicine_sales"
            web_icon="SBL_HOMEO_DEMO,static/description/icon.png"
            sequence="-10"/>

    <menuitem 
        	id="dashboard_Sale"
        	name="Sales"
            parent="main_menu_sbl_demo"
            action="action_medicine_sales"
            sequence="1"/>

    <menuitem 
        	id="Dashboard_Paying_Guest"
        	name="Dealers"
            parent="main_menu_sbl_demo"
            action="action_dealer_details"
            sequence="3"/>
    <menuitem 
        	id="product_sbl_configuration"
        	name="Product"
            parent="main_menu_sbl_demo"
            action="action_product"
            sequence="2"/>
    

</odoo>
